<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Pingador 2.0{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/filter-bar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastrar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/editar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/exportar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/excluir.css') }}">
    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>

<body>
    <header class="navbar">
        <div class="navbar-content">
            <!-- Menu Superior -->
            <nav class="nav-left">
                <a href="{{ url_for('home.home') }}"><button class="nav-btn">🏠 INÍCIO</button></a>

                <div class="dropdown">
                    <button class="nav-btn">⚙️ DISPOSITIVOS</button>
                    <div class="dropdown-content">
                        <a href="{{ url_for('exportar.exportar') }}">EXPORTAR</a>
                        <a href="{{ url_for('cadastrar.cadastrar') }}">CADASTRAR</a>
                        <a href="{{ url_for('editar.editar') }}">EDITAR</a>
                        <a href="{{ url_for('excluir.excluir') }}">EXCLUIR</a>
                    </div>
                </div>
            </nav>

            <!-- Logo -->
            <div class="nav-right"></div>
        </div>
    </header>

    <main class="main-container">
        {% block content %}{% endblock %}
    </main>

    <footer>
        <div class="footer-content">
            <p>CETEL - CENTRALIZADORA DE TELECOMUNICAÇÕES</p>
            <p><em>#INTERNO.TODOS</em></p>
        </div>
    </footer>
</body>

</html>