<h2>Informações</h2>
<table class="device-info-table">
  <tbody>
    <tr><th>ID</th><td>{{ device.id }}</td></tr>
    <tr><th>Hostname</th><td>{{ device.hostname }}</td></tr>
    <tr><th>IP</th><td>{{ device.ip_address }}</td></tr>
    <tr><th>Site</th><td>{{ device.site }}</td></tr>
    <tr><th>Tipo</th><td>{{ device.type }}</td></tr>
    <tr><th>Intervalo de monitoração</th><td>{{ device.monitoring_interval_seconds }} seg</td></tr>
    <tr><th>Ping Timeout</th><td>{{ device.ping_timeout_milliseconds }} ms</td></tr>
    <tr><th>Ping Count</th><td>{{ device.ping_count }}</td></tr>
    <tr><th>Status</th><td>{{ status(device.current_status).name }}</td></tr>
    <tr><th>Última alteração de status</th><td>{{ device.last_status_change }}</td></tr>
    <tr><th>Monitoração Ativa</th><td>{{ device.monitoring_enabled }}</td></tr>
  </tbody>
</table>