/* Modal sobreposto */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1000;
    overflow: hidden;
}

/* Conteúdo centralizado */
.modal-content {
    background-color: #ccc;
    display: block;
    margin: auto;
    width: 50%;
    max-width: 800px;
    padding: 20px;
    border-radius: 12px;
    max-height: 80vh;
    overflow-y: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border: none;
    animation: fadeIn 0.3s ease-out;
    clip-path: inset(0 round 12px);
}

/* Estilo para os títulos */
#unifiedDeviceDetails h2::before {
    content: "🖧 ";
}

#unifiedDeviceHistory h2::before {
    content: "⏱️ ";
}

/* Animação suave */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Estilo do cabeçalho do modal */
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003366;
    color: white;
    padding: 10px 16px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-bottom: 12px;
}

.modal-title {
    font-weight: bold;
    font-size: 22px;
}

/* Botão de fechar */
.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    color: #005ca9;
    cursor: pointer;
}

.modal-actions .modal-btn {
    background: transparent;
    border: none;
    font-size: 18px;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

.modal-content.maximized {
    width: 95%;
    height: 95vh;
    margin: 2% auto;
}

/* Estilo para tabelas dentro do modal */
h2,
.device-info-table,
.device-history-table {
    width: 80%;
    margin: auto;
}

.device-info-table,
.device-history-table {
    margin-top: 10px;
    font-size: 12px;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.device-info-table th,
.device-info-table td,
.device-history-table th,
.device-history-table td {
    border: 1px solid #ccc;
    padding: 8px 12px;
}

/* Realce ao passar o mouse */
.device-info-table tbody tr:hover td,
.device-history-table tbody tr:hover td {
    background-color: #e0f2ff;
    transition: background-color 0.2s ease;
}

/* Tabela de informações do dispositivo */
.device-info-table th {
    background-color: #eef5ff;
    color: #003366;
    width: 35%;
    text-align: right;
    text-transform: uppercase;
}

.device-info-table td {
    background-color: #fdfdfd;
    text-align: left;
}

/* Tabela de histórico do dispositivo */
.device-history-table th {
    background-color: #eef5ff;
    color: #003366;
    width: 35%;
    text-align: center;
    text-transform: uppercase;
}

.device-history-table td {
    background-color: #fdfdfd;
    text-align: center;
}