/* === Reset básico === */
body {
    font-family: "Segoe UI", Tahoma, Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #003366;
}

/* === Container Principal === */
.main-container {
    /* padding: 25px 50px 50px 50px; */
    max-width: 1560px;
    margin: auto;
    width: 80%;
    /* background-color: white; */
    /* box-shadow: 0 0 10px rgba(0,0,0,0.1); */
}

/* === Títulos === */
h1,
h2,
h3 {
    color: #003366;
    margin-top: 0;
}

.monitor-page-title {
    margin-bottom: 50px;
}

.monitor-page-title h1 {
    text-align: center;
    margin-bottom: 1px;
}

.monitor-page-title p {
    text-align: center;
    font-size: 14px;
    color: #666;
}

/* === Contador de atualização === */
#update-timestamp {
    font-weight: bold;
    margin-bottom: 10px;
    color: #005ca9;
}

/* Footer */
.footer-content {
    max-width: 1560px;
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px 0 10px;
    font-size: 14px;
}
