<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Monitoramento de Dispositivos{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro.css') }}">
</head>

<body>
    <header class="navbar">
        <div class="navbar-content">
            <div class="nav-left">
                <button class="nav-btn"><a href="{{ url_for('home.home') }}">🏠 INÍCIO</a></button>

                <div class="dropdown">
                    <button class="nav-btn">⚙️ OPÇÕES ▾</button>
                    <div class="dropdown-content">
                        <a href="{{ url_for('exportar.exportar') }}">EXPORTAR</a>
                        <a href="{{ url_for('cadastrar.cadastrar') }}">CADASTRAR</a>
                        <a href="{{ url_for('editar.editar') }}">EDITAR</a>
                        <a href="{{ url_for('excluir.excluir') }}">EXCLUIR</a>
                    </div>
                </div>
            </div>

            <div class="nav-right"></div>

        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>

</html>