{% extends "base.html" %}
{% block title %}Excluir Dispositivos{% endblock %}

{% block content %}
<h2>Excluir Dispositivos</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, facilis. Alias rerum odit magnam minima, sunt
    doloribus at, ducimus veritatis facilis placeat, incidunt numquam explicabo cumque corrupti nulla iure harum! Vero
    cupiditate ducimus excepturi nihil sint at perspiciatis doloremque similique culpa, vel, dolores sapiente pariatur
    laudantium dolore obcaecati nemo laboriosam adipisci assumenda. Cumque, nesciunt. Et, modi molestiae. Nam enim
    recusandae, ea quaerat iure tenetur nobis sint illo est culpa eos eum. Perferendis, dignissimos eos, ut aperiam sit
    temporibus nisi aliquam nihil deserunt eligendi iusto tempore sunt non eum inventore ab. Odit recusandae nihil harum
    ducimus cumque inventore reprehenderit suscipit dicta.</p>
{% endblock %}